/*header*/
.navbar{
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #9e9e9e;
    position: fixed;
    width: 100vw;
    top: 0;
    background: #fff;
    z-index: 1;
    }
    
.logo{
   font-size: 22px;
    color: teal; 
}   

.nav-menu{
    font-weight: bold;
    font-size: 15px;
    padding: 4px 0px;
    color: cornflowerblue;
} 

/*intro*/
.intro{
    height: 550px;
    background: url(http://www.aon.com/images/human-capital-consulting/2014_TCFL_map.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top:7px;
    width: 100vw;
    font-family: 'Righteous', cursive;
    position: relative;
}

.intro-text{
    position: absolute;
    top: 25%;
    left: 25%;
    font-family: 'Righteous', cursive;
}
.head-main{
   font-size: 55px;
    text-align: center;
    color: darkcyan;
}
hr{
    color: #000000;
}

.head-sub{
    
    font-size: 40px;
    text-align: center;
    color: darkslategray;
}

@media(max-width:420px)
{
    .logo{
        font-size: 40px;
    }
    .head-main{
        font-size: 20px;
    }
    .head-sub{
        font-size:10px;
    }
}
.dummy{
    height: 1000px;
}
